*{
  color:#fff;
  line-height: 1.2;
}
body{
  margin: 0;
  background-image: url(pika.jpg);
  background-size: cover;
}
.wrapper{
  text-align: center;
  margin: 0 15%;
  position: relative;
}
.list{
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
h1{
  color: #fff;
	font: 45px 'BazarMedium';
	letter-spacing: 7px;
  margin: 5px;
}

h2{
  margin: 5px;
}
h4{
  margin: 5px 0 0 0;
}
.element {
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 5px;
  max-width: 170px;
  font-size: 20px;
  cursor:pointer;
  background: #f39c12;
  background: -webkit-linear-gradient(45deg, #E67EF0, #f1c40f);
}
.element:hover{
  box-shadow:0 0 10px #000;
}
.next,
.prev{
  width: 45%;
  padding: 2% 0;
  border-radius: 0 15px 15px 0;
  border: 0;
  font-size: 20px;
  background: #f39c12;
  background: -webkit-linear-gradient(-135deg, #E67EF0, #f1c40f);
  cursor:pointer;
}
.prev{
  border-radius: 15px 0 0 15px;
  background: -webkit-linear-gradient(45deg, #E67EF0, #f1c40f);
}
.element img{
  width: 130px;
  height: 130px;
  margin: 1%;
  border-radius: 50%;
  background-color: #fff;
}
.single {
  border-radius: 15px;
  max-width: 230px;
  margin: 0 auto;
  margin-top: 10px;
  background: #1abc9c;
  background: -webkit-linear-gradient(45deg, #9b59b6,#1abc9c);
}
.single img{
  width: 160px;
  height: 160px;
  margin: 1%;
  max-width: 175px;
  border-radius: 50%;
  background-color: #fff;
}
tr td:first-child{
  width: 15%;
  border: 2px solid #fff;
}
tr td:last-child{
  width: 5%;
  border: 2px solid #fff;
}
table{
  align-content: center;
  display: block;
  margin: 0 auto;
  padding: 0 15px 15px 15px;
  border-collapse: collapse;
}

span{
   text-transform:capitalize;
   padding: 5px 10px;
   margin:5px 0;
   border-radius: 5px;
   display: inline-block;
   font-size: 16px;
}
.normal{background-color: #bdc3c7;}
.fighting{background-color: #e67e22;}
.flying{background-color: #62ddbd;}
.poison{background-color: #9b59b6;}
.ground{background-color: #2ecc71;}
.rock{background-color: #1abc9c;}
.bug{background-color: #f39c12;}
.ghost{background-color: #d35400;}
.steel{background-color: #7f8c8d;}
.fire{background-color: #e74c3c;}
.water{background-color: #3498db;}
.grass{background-color: #16a085;}
.electric{background-color: #f1c40f;}
.ice{background-color: #2980b9;}
.dragon{background-color: #c0392b;}
.dark{background-color:#34495e ;}
.fairy{background-color: #eb87bf;}
.unknown{background-color: #2c3e50;}
.shadow{background-color: #95a5a6;}
.psychic{background-color: #8e44ad;}
